*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: #081b29; 
    color: #ededed;
}

.headers
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
   z-index:  100;;
}

main{
    padding-top: 100px;
}

.logo
{
    position: relative;
    font-size: 25px;   
    color: bisque; 
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a
{
    font-size: 18px;
    color: #FFF5ED;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3;
}

.navbar a:hover,
.navbar a.active
{
    color: #FF4EFA;
}


.home{
    height: 100vh;
    display: flex;
    background: url('./assets/background.png') no-repeat ;
    background-size: contain;
    background-position: center;
    align-items: center;
    padding: 0 10%;
}

.home-content
{
    max-width: 600px;
}

.home-content h1
{   position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3
{   
    position: relative;
    font-weight: 32px;
    font-weight: 700;
    color: aqua;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p
{   
    position: relative;
    font-size: 16px;
    margin: 20px 0px 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box
{   
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 2;
}

.btn-box a 
{   
    position: relative;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;   
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover
{
    color: #00abf0;
}

.btn-box a:nth-child(2)
{
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover
{
    color:#081b29;
}

.btn-box a:nth-child(2)::before
{
    background: #00abf0;
}

.btn-box a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before
{
    width: 100%;

}


.home-sci
{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-around;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a
{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover
{
    color: #081b29;
}

.home-sci a::before
{
    content: '';
    top: 0;
    left: 0;
    width: 100% ;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}


.home-sci a:hover::before
{
    width: 100%;
}


.home-imgHover
{
    position: absolute;
    top: 0;
    right: 30px;
    width: 750px;
    height: 100%;
    background: transparent;    
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

.home-imgHover:hover 
{
    background: #081b29;
    opacity: .8;
}



/* About us */
  /* product section */

.Product-sec{
    padding: 20px 10px;
    font-size: 1em;
}

.Product-sec .shoping-cart{
    text-align: center;
    box-shadow: 0px 2px 8px 0px rgba(255, 255, 255, 0.2);
    margin: 10px 15px;
    border-radius: 5px;
    padding: 10px;
    
}

.shoping-cart .img-sec{
    position: relative;
}

.shoping-cart .img-sec img{
    width: 60%;
}

.shoping-cart .img-sec .hot-offer{
    background-color: #e74c3c;
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top : 10px;
    font-size: .9em;
}

.shoping-cart .img-sec .stars{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #f1c40f;
}



.shoping-cart .title{
        color: white;
        margin: 15px;
}

.shoping-cart .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  5px 15px;
}


.shoping-cart .buttons .right{
display: flex;
}

.shoping-cart .buttons .right .extend-btn{
    display: flex;
    margin-left: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: #2ecc71;
    color: white;
    width: 40px;
    padding : 8px 12px;
    border-radius: 25px;
    cursor: pointer;
}


.shoping-card .buttons .left .extend-btn  .b-icon{
  color: white;
  padding-top: 3px;
}



/* Contact us */
.container {
    max-width: 600px;
    margin: 100px auto 50px;
    padding: 20px;
    background: #0a2d43;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #0a2d43;
    color: #ededed;
}

textarea {
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #00abf0;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #007bbf;
}





/* KEYFRAME ANIMATION */
@keyframes showRight{
  100% {
      width: 0;
  }
}

@keyframes manipActiveHover{
  100%{
      pointer-events: auto;
  }
}
